div {
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 20px;
}

.studied {
    flex: 1;
    flex-direction: row;
}

.worked {
    flex: 2;
    flex-direction: row;
}

@media all and (max-width: 600px) {

}
